# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Dimitar\Documents\Факултет\III година\Летен семестар\Електронска и мобилна трговија\Лабораториски\emt-lab\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
